# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec
build/
dist/

# IDEs
.vscode/
.idea/
*.swp

# Executables (User will add to Releases manually)
*.exe
